* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  color: beige;
  background: #080808;
}

.home {
  height: 100vh;
  width: 100%;
}

#main {
  height: 100%;
  position: relative;
}

#curser {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #eee;
  position: fixed;
  z-index: 6;
}


.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 8vh;
  padding: 0px 50px;
}

.A {
  color: rgb(177, 18, 18);
  font-size: 45px;
}

.sheet-content {
  display: none;
}

.l-nav {
  height: 50px;
  width: 100px;
  display: flex;
  padding: 5px 10px 15px;
  opacity: 1;
  justify-content: space-between;
}

.l-nav a {
  color: inherit;
  text-decoration: none;
  padding-bottom: 15px;
  font-family: "Ubuntu Sans Mono", monospace;
  font-size: 30px;
}

.name {
  display: flex;
  gap: 10px;
}

.name p {
  font-family: "Ubuntu Sans Mono", monospace;
  font-size: 40px;
}

#present-midnav {
  justify-content: center;
  display: flex;
  /* align-items: center; */
  padding-top: 10px;
}

.mid-nav {
  display: flex;
  gap: 50px
}

.mid-nav>h2 {
  font-family: "Ubuntu Sans Mono", monospace;
}

.mid-nav a {
  color: inherit;
  text-decoration: none;
}

.description {
  display: flex;
  padding: 30px;
  gap: 40px;
}

.nav-skill {
  display: flex;
  gap: 10px;
}

.nav-work {
  display: flex;
  gap: 5px;
}

.nav-edu {
  display: flex;
  gap: 5px;
}

.nav-resum {
  display: flex;
  gap: 5px;
}

.nav-contact {
  display: flex;
  gap: 5px;
}

.description h2 {
  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: 100;
  font-size: 20px;
  color: #c18949;
}

.container-holder {
  height: 92vh;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-box {
  height: 60%;
  width: 90%;
  gap: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  /* background: #000; */
}

.name {
  display: flex;
  gap: 20px;
}

.name>p {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#left-box>p {
  word-wrap: break-word;
  font-size: 35px;
  font-family: "Ubuntu Sans Mono", monospace;
  /* font-family:  ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

#rigth-box {
  height: 100%;
  width: 35%;
  background: #8f1c1c;
  border-radius: 50%;
  position: relative;
  border-color: #eeeeee;
  border-width: 8px;
}

#rigth-box>img {
  justify-content: center;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  display: flex;
  align-items: center;
  background-size: cover;
  background-color: #eeeeee;
  width: 100%;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  border-radius: 50%;
  z-index: 8;
}

/* -------------------------------------------------------------------------------------------------- */
#skill {
  height: 100vh;
  width: 100%;
  background: #221c1c3f;
}

.skill-heading {
  font-size: 45px;
  font-family: "Ubuntu Sans Mono", monospace;
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------------------------------------- */
#mywork {
  height: 105vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.work-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Only 3 columns */
  grid-gap: 40px;
  margin-top: 0px;
  width: 100%;
  padding: 40px;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: #312b2b;
}

.btn a {
  text-decoration: none;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
.myedu-heading {
  font-size: 45px;
  font-family: "Ubuntu Sans Mono", monospace;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#myedu {
  height: 105vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000;
}

.myedu-box {
  /* height: 90%; */
  width: 80%;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  /* background-color: #8f1c1c; */
}

.myedu-box1,
.myedu-box2 {
  height: 40vh;
  width: 45%;
}

.myedu-box1 {
  top: 0;
  left: 0;
}

.myedu-box2 {
  right: 0;
  margin-left: 50%;

}

.college-box {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.college-box img {
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  /* margin-bottom: 10px; */
}

.college-box h3 {
  margin: 0 0 10px;
  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: 700;
}

.college-box p {
  margin: 0 0 10px;
  font-weight: 300;
  font-family: "Ubuntu Sans Mono", monospace;
}

button {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 600;
  font-size: 18px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.school-box {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.school-box img {
  width: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  height: auto;
  /* margin-bottom: 10px; */
}

.school-box h3 {
  margin: 0 0 10px;
  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: 700;
}

.school-box p {
  margin: 0 0 10px;
  font-weight: 300;
  font-family: "Ubuntu Sans Mono", monospace;
}

/* --------------------------------------------------------------------------------------------------------- */
#contact {
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 25px;
  display: flex;
  flex-direction: column;
  /* background-color: #000; */
}

.contact-box {
  height: 92vh;
  width: 80%;
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: wheat; */
  display: flex;
  gap: 50px;
}

.contact-heading {
  font-size: 35px;
  width: 80%;
  font-family: "Ubuntu Sans Mono", monospace;
  margin-top: 15px;
  justify-content: end;
  align-items: end;
}

.contact-box1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 50%;
}

.row-row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-box2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* background-color: #eee; */
}

.email-div h2 {
  font-size: 15px;
  font-family: "Ubuntu Sans Mono", monospace;
  font-weight: 100;
}

/* --------------------------------------------------------------------------- */
.footer {
  background-color: #1b1212;
  height: 4vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;

}

/* ------------------------------------------------------------------------------- */
.banner {
  width: 100%;
  height: 85vh;
  text-align: center;
  overflow: hidden;
  position: relative;
  padding: 50px;
}

.banner .slider {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 25%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
  z-index: 2;
}

@keyframes autoRun {
  from {
    transform: perspective(2000px) rotateX(-16deg) rotateY(0deg);
  }

  to {
    transform: perspective(2000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform:
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* ----------------------------------------------------------------------------- */
/* 
For Mobile Devices – 320px — 480px.
iPads and Tablets – 481px — 768px.
Laptops and small screen – 769px — 1024px.
Large screens and Desktops – 1025px — 1200px.
TV and Extra Large Screens – 1201px and more. */
@media screen and (min-width:320px) and (max-width:580px) {


  #curser {
    display: none;
  }

  body,
  html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    padding: 25px;
  }

  .menu-sheet {
    height: 100%;
    width: 50%;
    background-color: #25262762;
    backdrop-filter: blur(30px);
    overflow: hidden;
    top: 0;
    right: -50%;
    padding: 100px 30px;
    position: absolute;
    gap: 40px;
    z-index: 10;
  }

  .sheet-content {
    /* height: 50%; */
    /* width: 80%;   */
    display: inline;
  }

  .sheet-content a {
    text-decoration: none;
    color: #000;
  }

  .sheet-content i {
    position: absolute;
    top: 7%;
    right: 20%;
    /* background-color: white; */
    /* border-radius: 50%; */
    /* padding: 7px; */
    color: #000;
    font-weight: 600;
    font-size: 28px;
    cursor: pointer;

  }

  .menu-sheet h4 {
    font-size: 25px;
    font-weight: 600;
    font-family: monospace;
    margin-bottom: 10px;
    color: #000;
  }

  .container-holder {
    height: 80vh;
    width: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .inner-box {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;

  }

  #left-box {
    /* display: none; */
    height: 80vh;
    width: 90%;
  }

  #left-box .name p {
    font-size: 40px;
  }

  #left-box p {
    font-size: 25px;
  }

  #rigth-box {
    /* display: none; */
    height: 38vh;
    width: 100%;
    padding: 10px;
    background-color: transparent;
  }

  .skill-heading {
    font-size: 45px;
    font-family: "Ubuntu Sans Mono", monospace;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .A {
    color: rgb(177, 18, 18);
    font-size: 45px;
  }

  .mid-nav {
    display: none;
  }

  /* --------------------------------------------------------------- */

  .banner .slider {
    width: 250px;
    height: 250px;
    left: calc(50% - 50px);
  }

  .banner .slider {
    transform:
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
  }

  .seemorebtn {
    margin-top: 30px;
  }

  #mywork {
    height: 160vh;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .work-box {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
  }

  .myedu-box {
    /* height: 90%; */
    width: 90%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    /* background-color: #8f1c1c; */
  }

  .myedu-heading {
    font-size: 45px;
    font-family: "Ubuntu Sans Mono", monospace;
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }

  .myedu-box1,
  .myedu-box2 {
    height: 45vh;
    width: 100%;
  }

  .myedu-box2 {
    /* right: 0; */
    margin-left: 0%;
  }

  .college-box {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  #contact {
    padding: 5px;
    display: flex;
  }

  .contact-box {
    height: 92vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact-heading {
    font-size: 35px;
    width: 90%;
    font-family: "Ubuntu Sans Mono", monospace;
    margin-top: 15px;
    justify-content: end;
    align-items: end;
  }

  .contact-box1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 50%;
    padding: 0px 20px;
    width: 100%;
  }

  .contact-box2 {
    /* display: flex;
  height: 40%;
  justify-content: center;
  flex-direction: column;

  align-items: center; */
    /* background-color: #eee; */
    /* display: none; */
  }

  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 80px;
    width: 100%;
    padding-top: 20px;
    font-family: "Poppins", sans-serif;
  }

}

/* ------------------------------------------------------------------------------------- */
@media screen and (min-width:581px) and (max-width:800px) {

  body,
  html {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .skill-heading {
    font-size: 45px;
    font-family: "Ubuntu Sans Mono", monospace;
    display: flex;
    justify-content: center;
    padding-top: 40px;
  }

  .banner .slider {
    width: 160px;
    height: 200px;
    left: calc(50% - 80px);
  }

  .banner .slider .item {
    transform:
      rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
  }

  .myedu-box {
    /* height: 90%; */
    width: 90%;
    display: flex;
    margin-top: 20px;
    gap: 40px;
    flex-direction: column;
    /* background-color: #8f1c1c; */
  }

  .myedu-heading {
    font-size: 45px;
    font-family: "Ubuntu Sans Mono", monospace;
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }

  .myedu-box1,
  .myedu-box2 {
    height: 35vh;
    width: 100%;
  }

  .myedu-box2 {
    /* right: 0; */
    margin-left: 0%;
  }

  .school-box p,
  h3 {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 20px;
    font-family: "Ubuntu Sans Mono", monospace;
  }

  #contact {
    padding: 5px;
    display: flex;
  }

  .contact-heading {
    font-size: 35px;
    width: 80%;
    font-family: "Ubuntu Sans Mono", monospace;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-box {
    height: 92vh;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .contact-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 45%;
    width: 100%;
  }

  .mid-nav {
    display: flex;
    gap: 40px;
  }

  .description {
    display: flex;
    /* padding: 20px; */
    gap: 10px;
  }

  .bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 8vh;
    padding: 0px 30px;
    gap: 50px;
  }

  .work-box {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }

  .seemorebtn {
    margin-top: 30px;
  }

  /* .work-box{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 0px;
  width: 100%;
  padding: 40px;
} */

}

@media screen and (min-width:800px) and (max-width:1080px) {

  .work-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 40px;
    margin-top: 0px;
    width: 100%;
    padding: 40px;
    justify-content: center;
    align-items: center;
  }

  .Xcard {
    position: relative;
    width: 350px;
    height: 450px;
    background-color: #f2f2f2;
    object-fit: cover;
    justify-content: center;
    opacity: 0.8;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .seemorebtn {
    margin-top: 100px;
  }


  .myedu-box {
    /* height: 90%; */
    width: 90%;
    display: flex;
    margin-top: 20px;
    gap: 40px;
    flex-direction: column;
    /* background-color: #8f1c1c; */
  }

  .myedu-heading {
    font-size: 45px;
    font-family: "Ubuntu Sans Mono", monospace;
    display: flex;
    justify-content: center;
    padding-top: 25px;
  }

  .myedu-box1,
  .myedu-box2 {
    height: 35vh;
    width: 100%;
  }

  .myedu-box2 {
    /* right: 0; */
    margin-left: 0%;
  }

  .school-box p,
  h3 {
    margin: 0 0 10px;
    font-weight: 300;
    font-size: 20px;
    font-family: "Ubuntu Sans Mono", monospace;
  }

  #contact {
    padding: 15px;
    display: flex;
  }

  .contact-heading {
    font-size: 35px;
    width: 80%;
    font-family: "Ubuntu Sans Mono", monospace;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-box {
    height: 102vh;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .contact-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 45%;
    width: 100%;
  }
}